<style>
    @import url('https://fonts.googleapis.com/css2?family=Acme&family=Alfa+Slab+One&display=swap');
    </style>



<section class="titulo">
   <p>ERROR 404! JOGUE UM POUCO E APROVEITE A MÚSICA </p>
</section>


<section class="J1">
    <iframe src="http://wanted5games.com/games/html5/slimoban-new-en-s-iga-cloud/index.html?pub=10" name="cloudgames-com" width="702" height="585" frameborder="0" scrolling="no" class="jogo">
    </iframe>
</section>
<section class="button">
    <mat-card-actions >
    <button  class="button-cancel" mat-button>Voltar</button>
    </mat-card-actions>
</section>
<section class="player">
    <audio controls autoplay class="musica">
    <source src="../../../assets/music/musica1.mp3" type="audio/ogg">
    </audio>
</section>



